.progress-pagination-section{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-top: 80px;
}
.progress-container {
    width: 300px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  .progress-bar {
    height: 100%;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
  }