
.second-tap{
    margin-top: 200px;
}

.tab-container2 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 40px;
    margin-top: 40px;
    background-color: #e53935;
    padding: 16px;
    margin-left: 14px;
   
    position: absolute;
    top: -30px;
  }
  .tabb{
 background-color: #e53935;
  }
  .tabb {
    width: 100%;
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    border: none;
  
  }

  .tab :active{
    border: 1 solid #e2bcbc;
  }
  

  .card-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
  
 
  }
  .card1 {
    width: 100%;
    
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
   
  }
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  